/* Footer
-----------------------------------------------------------------------------*/
.footer {
    height: 40px;
    background: #151412;
}

.footer .footerContent {
    color: #848282;
    text-align: center;
    padding-top: 12px;
}

.footer .footerContent .siteName {
    font-weight: 600;
    color: #D6D8DE;
}