.header {
    height: 50px;
    position: relative;
    background: #151412;
}

.header .headerTitle{
    width: 80px;
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 63px;
}

/*---auth block----*/
.authBlockHeader {
    top: 4px;
    text-align: right;
    margin-right: 70px;
    color: white;
    padding-top: 15px;
}
.authBlockHeader p a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
}
.authBlockHeader a:hover{
    text-decoration: none;
    color: #31FF00;
}

/*-----------------------------------------------------*/